input {
    background-color: lightgray;
    border-bottom: 3px solid #008000;  
  }

.btn {
    border-radius: 0;
} 

.btn-outline-primary {
    color: #008000;
    border-color: #008000;
}

.btn-outline-primary:hover {
    background-color: #008000;
    color: lightgrey;
  }

  .btn-outline-secondary {
    margin: 2% 2%;
    color: lightgray;
  }