<div class="card">
  <div class="text-center">
    <img src="./assets/images/sneakers.png"
         class="img-responsive center-block" />
  </div>
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="limited-offer">
    <h3>Limited Offers!</h3>
  </div>

  <div class="card-body">
    <div class="container-fluid">
      <div class="features">
        <div class="feature">
            <img src="./assets/images/shipping.png" alt="Shipping" class="featureImg">
            <span class="featureTitle">FREE SHIPPING</span>
            <span class="featureDesc">Free worldwide shipping on all orders.</span>
        </div>
        <div class="feature">
            <img src="./assets/images/return.png" alt="Return" class="featureImg">
            <span class="featureTitle">30 DAYS RETURN</span>
            <span class="featureDesc">No questions return and easy refund in 14 days.</span>
        </div>
        <div class="feature">
            <img src="./assets/images/gift.png" alt="Gift" class="featureImg">
            <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
        </div>
        <div class="feature">
            <img src="/assets/images/contact.png" alt="Contact" class="featureImg">
            <span class="featureTitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and sypport system.</span>
        </div>
    </div>
    </div>
  </div>
  <button class="productButton" [routerLink]="['/products']">BROWSE PRODUCTS</button>
</div>